.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    /* border: 1px solid purple;  */
    width: 100%;
}

.widget {
    height: 92%;
    width: 99%;
}

.control {
    /* background: blue; */
    /* display: flex; */
    height: 8%;
    width: 100%;
}