._ {
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
}

.inner {
    padding:5px;
    margin: 10px;
    border-radius: 20px;
    height: 97%;
    background: rgb(255,255,255,0.1);
}