._ {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    /* border: 1px solid blue; */
}

/*  */
/* sidebar */
/*  */

.sidebar {
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    /* border: 1px solid red; */
    /* width: 0%; */
    /* display: none; */
    height: 98%;
    /* min-height: 600px; */
    /* min-width: 0px; */
    transition-duration: 150ms;
    background-size: cover;
    background: red;
    background-repeat: no-repeat no-repeat;
    margin: 00px 5px 00px 10px;
}

.sidebar_inside {
    /* display: none; */
    height: 100%;
    transition-duration: 100ms;
}

.justBackground {
    display: block;
    position: absolute;
    /* border: 1px solid red; */
    background-size:cover;
    -webkit-filter: blur(200px);
    filter: blur(200px);
    /* background: yellow; */
    z-index: -10;
    background-repeat: no-repeat no-repeat;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    transition-duration: 100ms;
    opacity: 1;
}

.noImage {
    display: block;
    position: absolute;
    /* border: 1px solid red; */
    background-size:cover;
    -webkit-filter: blur(200px);
    filter: blur(200px);
    /* background: yellow; */
    z-index: -10;
    background-repeat: no-repeat no-repeat;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    transition-duration: 100ms;
    opacity: 1;
}

/*  */
/* settings */
/*  */

.settings{
    width: 0px;
    display: fixed;
    min-width: 0px;
    height: 97%;
    transition-duration: 100ms;
    border-radius: 20px;
    /* border: 1px solid blue */
}
.settings_inner{
    width: 0px;
    min-width: none;
    display: none;
    height: 100%;
    width: 100%;
}

/*  */
/* main */
/*  */

.main {
    display: block;
    align-items: center;
    /* border: 1px solid red; */
    background: linear-gradient(rgb(50,50,50,0.9), rgb(188, 74, 70, 0.5));
    border-radius: 20px;
    height: 98%;
    transition-duration: 150ms;
    padding: 0px;
    margin: 10px;
    /* width: 100%; */
    z-index: 0;
    overflow: hidden;
}

.main_inside {
    /* border: 1px solid blue; */
    height: 100%;
    width: 100%;
    padding: 0px;
}

@media all and (min-width: 0px) {
    .sidebar {
        width: 0px;
        min-width: 0px;
    }
    .sidebar_inside {
        display: none;
    }
    .main {
        width: 100%;
    }
}